VV.Proxy/Service References/BioConnectAPI/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" />
  <xs:complexType name="ArrayOfKeyValueOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringint">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringint" nillable="true" type="tns:ArrayOfKeyValueOfstringint" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.CardforFaceOperationModeEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.CardforFaceOperationModeEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q1:ReadersDataObject.CardforFaceOperationModeEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.CardforFaceOperationModeEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.CardforFaceOperationModeEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.OperationModeEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.OperationModeEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q2:ReadersDataObject.OperationModeEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.OperationModeEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.OperationModeEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.CardReadModeEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.CardReadModeEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q3:ReadersDataObject.CardReadModeEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.CardReadModeEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.CardReadModeEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.FaceOperationModeEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.FaceOperationModeEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q4:ReadersDataObject.FaceOperationModeEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.FaceOperationModeEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.FaceOperationModeEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.CardFormatEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.CardFormatEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q5:ReadersDataObject.CardFormatEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.CardFormatEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.CardFormatEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.ProfileEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.ProfileEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q6:ReadersDataObject.ProfileEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.ProfileEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.ProfileEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.TemplateTypeEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.TemplateTypeEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q7:ReadersDataObject.TemplateTypeEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.TemplateTypeEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.TemplateTypeEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.TypeEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.TypeEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q8:ReadersDataObject.TypeEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.TypeEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.TypeEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfReadersDataObject.WiegandOutputEnumstring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfReadersDataObject.WiegandOutputEnumstring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q9:ReadersDataObject.WiegandOutputEnum" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfReadersDataObject.WiegandOutputEnumstring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfReadersDataObject.WiegandOutputEnumstring9esu30SJ" />
  <xs:complexType name="ArrayOfKeyValueOfFingerDataObject.FingerCodestring9esu30SJ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfFingerDataObject.FingerCodestring9esu30SJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" name="Key" type="q10:FingerDataObject.FingerCode" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfFingerDataObject.FingerCodestring9esu30SJ" nillable="true" type="tns:ArrayOfKeyValueOfFingerDataObject.FingerCodestring9esu30SJ" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
  <xs:complexType name="ArrayOfKeyValueOfstringanyType">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringanyType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringanyType" nillable="true" type="tns:ArrayOfKeyValueOfstringanyType" />
</xs:schema>