VV.Proxy/Service References/BioConnectAPI/Entertech.BiometricService.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VV.BiometricService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VV.BiometricService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SecurityTokenDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastUsedIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Locations" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityTokenDto" nillable="true" type="tns:SecurityTokenDto" />
</xs:schema>