VV.Proxy/Service References/BioConnectAPI/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.BioConnect.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BioConnectAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBioConnectAPI_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.BioConnect.com" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IBioConnectAPI" type="i0:IBioConnectAPI">
    <wsp:PolicyReference URI="#NetTcpBinding_IBioConnectAPI_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReconnectDigitusService">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/ReconnectDigitusService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DigitusLockUnlockSystem">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DigitusLockUnlockSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DigitusLockDevice">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DigitusLockDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DigitusUnlockDevice">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DigitusUnlockDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BeginUserSearch">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/BeginUserSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadCard">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/ReadCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuditLogSynchronize">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AuditLogSynchronize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetAcm">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/ResetAcm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusDeviceGroup">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusDeviceGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDigitusDeviceGroup">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AddDigitusDeviceGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DigitusStatus">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DigitusStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusAccessSchdule">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusAccessSchdule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusTimeband">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusTimeband" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusDevice">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusEnline">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusEnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusDeviceGroup">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusDeviceGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusController">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusController" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusControllerNode">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusControllerNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusAlarm">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusAlarm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusEvent">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusAvailableUserPins">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusAvailableUserPins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/FindUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserByID">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReaderIDs">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetReaderIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReaderDetailsByID">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetReaderDetailsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReaders">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetReaders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReadersBasicInfo">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetReadersBasicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveReader">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ScanUserFaceData">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/ScanUserFaceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateReaderConfig">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateReaderConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveScannedTemplate">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveScannedTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveDigitusTemplates">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveDigitusTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GertReaderDescriptions">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GertReaderDescriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFingerDescriptions">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetFingerDescriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateObject">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetTemplateObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTemplate">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DeleteTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveUserAdmin">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveUserAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityToken">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/RetrieveSecurityToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthroizeUserLogin">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AuthroizeUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLocations">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/RetrieveLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindUserInLocation">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/FindUserInLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcmType">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AcmType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/Synchronize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeAllReaders">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SynchronizeAllReaders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ServerVersion">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/ServerVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityTokenByUsername">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/RetrieveSecurityTokenByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecurityTokenById">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/RetrieveSecurityTokenById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSecurityToken">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveSecurityToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLatestActivityRecords">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetLatestActivityRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdList">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FilterUsersByCard">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/FilterUsersByCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RestartReader">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/RestartReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFirmware">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateFirmware" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateADUser">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AuthenticateADUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReadersCounts">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetReadersCounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteReader">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DeleteReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserBadgeNumbers">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserBadgeNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardsSettings">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateCardsSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SiteCode">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SiteCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SiteKey">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SiteKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Restrictions">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/Restrictions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicensePath">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetLicensePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FormatCard">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/FormatCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isServerLoaded">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/isServerLoaded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WriteToCard">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/WriteToCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByBadgeNumber">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserIdByBadgeNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseExpiry">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetLicenseExpiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseActive">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetLicenseActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveAppSettings">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveAppSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAppSettings">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetAppSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DatabaseImport">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DatabaseImport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserImage">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateReaderTime">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateReaderTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReaderTime">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetReaderTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveUserFaceLocations">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveUserFaceLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateHealthCheck">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GenerateHealthCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeUserLocations">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SynchronizeUserLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserListByIds">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserListByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusConnectionsList">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusConnectionsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusDeviceGroupList">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusDeviceGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusBusControllers">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusBusControllers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusSentryControllers">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusSentryControllers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusBusControllerNodes">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusBusControllerNodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusBusControllerEnlines">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusBusControllerEnlines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusBusControllerNodeDevices">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusBusControllerNodeDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusSentryControllerDevices">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusSentryControllerDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllDigitusDevices">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetAllDigitusDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusTimeBands">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusTimeBands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusAccessScheduleList">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusAccessScheduleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDigitusAccessSchedulesOnly">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetDigitusAccessSchedulesOnly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLatestDigitusEvents">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetLatestDigitusEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLatestDigitusAlarms">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetLatestDigitusAlarms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeDigitusAlarm">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/AcknowledgeDigitusAlarm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveDigitusConnectionInfo">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveDigitusConnectionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDigitusConnectionInfo">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DeleteDigitusConnectionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaceEnrollment">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/DeleteFaceEnrollment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckUsername">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/CheckUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusDevice">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusEnline">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusEnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusController">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusController" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusControllerNode">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusControllerNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusTimeband">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusTimeband" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitusDeviceScheduleGroup">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/UpdateDigitusDeviceScheduleGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveUserProperties">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/SaveUserProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperty">
      <soap12:operation soapAction="http://www.BioConnect.com/IBioConnectAPI/GetUserProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BioConnectExceptionFault">
        <soap12:fault use="literal" name="BioConnectExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BioConnectAPI">
    <wsdl:port name="NetTcpBinding_IBioConnectAPI" binding="tns:NetTcpBinding_IBioConnectAPI">
      <soap12:address location="net.tcp://ws-ppatel:8000/BioConnectAPI/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ws-ppatel:8000/BioConnectAPI/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>