VV.Proxy/Service References/BioConnectAPI/www.BioConnect.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.BioConnect.com" elementFormDefault="qualified" targetNamespace="http://www.BioConnect.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" />
  <xs:element name="ReconnectDigitusService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReconnectDigitusServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusLockUnlockSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusLockUnlockSystemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusLockDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusLockDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusUnlockDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusUnlockDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUserSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUserSearchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadCardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditLogSynchronize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditLogSynchronizeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRegistration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAcm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAcmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetAcmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusDeviceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="dataObj" nillable="true" type="q1:DigitusDeviceGroupDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusDeviceGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDigitusDeviceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="dataObj" nillable="true" type="q2:DigitusDeviceGroupDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDigitusDeviceGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitusStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DigitusStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAccessSchdule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devicescheduleguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAccessSchduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusAccessSchduleResult" nillable="true" type="q3:DigitusDeviceScheduleDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusTimeband">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timebandid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusTimebandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusTimebandResult" nillable="true" type="q4:DigitusTimebandDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusDeviceResult" nillable="true" type="q5:DigitusDeviceDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusEnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enlineguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusEnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusEnlineResult" nillable="true" type="q6:DigitusEnlineDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusDeviceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devicegroupguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusDeviceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusDeviceGroupResult" nillable="true" type="q7:DigitusDeviceGroupDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusController">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusControllerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusControllerResult" nillable="true" type="q8:DigitusControllerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusControllerNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerguid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeserialnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusControllerNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusControllerNodeResult" nillable="true" type="q9:DigitusControllerNodeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusAlarmResult" nillable="true" type="q10:DigitusAlarmDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventguid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusEventResult" nillable="true" type="q11:DigitusEventDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAvailableUserPins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAvailableUserPinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDigitusAvailableUserPinsResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fragment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="FindUserResult" nillable="true" type="q13:ArrayOfUsersDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetUserByIDResult" nillable="true" type="q14:UsersDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetReaderIDsResult" nillable="true" type="q15:ArrayOfReadersStubDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetReaderDetailsByIDResult" nillable="true" type="q16:ReadersDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetReadersResult" nillable="true" type="q17:ArrayOfReadersDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadersBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadersBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetReadersBasicInfoResult" nillable="true" type="q18:ArrayOfReadersBasicInfoDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="readerDataObject" nillable="true" type="q19:ReadersDataObject" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q20:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanUserFaceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q21:SecurityTokenDto" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectedLocations" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanUserFaceDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReaderConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="readerDataObject" nillable="true" type="q23:ReadersDataObject" />
        <xs:element minOccurs="0" name="bReset" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReaderConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScannedTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="scannedTemplate" nillable="true" type="q24:TemplateObject" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q25:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScannedTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScannedTemplateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDigitusTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="scannedTemplates" nillable="true" type="q26:ArrayOfTemplateObject" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q27:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDigitusTemplatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GertReaderDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GertReaderDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GertReaderDescriptionsResult" nillable="true" type="q28:ReaderDescriptionsDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFingerDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFingerDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFingerDescriptionsResult" nillable="true" type="q29:ArrayOfKeyValueOfFingerDataObject.FingerCodestring9esu30SJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:long" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q30:SecurityTokenDto" />
        <xs:element minOccurs="0" name="quality" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetTemplateObjectResult" nillable="true" type="q31:TemplateObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q32:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="usersDataObject" nillable="true" type="q33:UsersAdminDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="RetrieveSecurityTokenResult" nillable="true" type="q34:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthroizeUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthroizeUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthroizeUserLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveLocationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserInLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fragment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserInLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="FindUserInLocationResult" nillable="true" type="q35:ArrayOfUsersDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcmType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcmTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcmTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Synchronize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateToSyncFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastUsedIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeAllReaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastusedIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeAllReadersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="RetrieveSecurityTokenByUsernameResult" nillable="true" type="q36:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="RetrieveSecurityTokenByIdResult" nillable="true" type="q37:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="tokenToSave" nillable="true" type="q38:SecurityTokenDto" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="requestedBy" nillable="true" type="q39:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestActivityRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestActivityRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetLatestActivityRecordsResult" nillable="true" type="q40:ArrayOfActivityRecordsDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetUserIdListResult" nillable="true" type="q41:ArrayOfUsersStubDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterUsersByCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterUsersByCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilterUsersByCardResult" nillable="true" type="q42:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="readerDataObject" nillable="true" type="q43:ReadersDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartReaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirmware">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="readerDataObject" nillable="true" type="q44:ReadersDataObject" />
        <xs:element minOccurs="0" name="firmwareFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirmwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFirmwareResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateADUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateADUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateADUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadersCounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadersCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetReadersCountsResult" nillable="true" type="q45:ReadersCountsDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBadgeNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBadgeNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserBadgeNumbersResult" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardsSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="cards" nillable="true" type="q47:ArrayOfCardDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardsSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Restrictions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestrictionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RestrictionsResult" nillable="true" type="q48:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensePath">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicensePathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:long" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q49:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormatCardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isServerLoaded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isServerLoadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isServerLoadedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerID" type="xs:long" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="primaryTemplateId" type="xs:int" />
        <xs:element minOccurs="0" name="secondaryTemplateId" type="xs:int" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="Token" nillable="true" type="q50:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteToCardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdByBadgeNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="badgeNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdByBadgeNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdByBadgeNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseExpiry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseExpiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseExpiryResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAppSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dictSettings" nillable="true" type="q51:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAppSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAppSettingsResult" nillable="true" type="q52:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatabaseImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatabaseImportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReaderTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="deviceID" type="xs:long" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="Token" nillable="true" type="q53:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReaderTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="deviceID" type="xs:long" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="Token" nillable="true" type="q54:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReaderTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserFaceLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectedLocations" nillable="true" type="q55:ArrayOfstring" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q56:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserFaceLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateHealthCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateHealthCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeUserLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectedLocations" nillable="true" type="q57:ArrayOfstring" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q58:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeUserLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="changes" nillable="true" type="q59:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetUserListByIdsResult" nillable="true" type="q60:ArrayOfUsersStubDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusConnectionsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusConnectionsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusConnectionsListResult" nillable="true" type="q61:ArrayOfDigitusConnectionInfoDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusDeviceGroupList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusDeviceGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusDeviceGroupListResult" nillable="true" type="q62:ArrayOfDigitusDeviceGroupDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusBusControllersResult" nillable="true" type="q63:ArrayOfDigitusControllerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusSentryControllers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusSentryControllersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusSentryControllersResult" nillable="true" type="q64:ArrayOfDigitusControllerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllerNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllerNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusBusControllerNodesResult" nillable="true" type="q65:ArrayOfDigitusControllerNodeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllerEnlines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllerEnlinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusBusControllerEnlinesResult" nillable="true" type="q66:ArrayOfDigitusEnlineDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllerNodeDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeSerialNumber" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusBusControllerNodeDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusBusControllerNodeDevicesResult" nillable="true" type="q67:ArrayOfDigitusDeviceDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusSentryControllerDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusSentryControllerDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusSentryControllerDevicesResult" nillable="true" type="q68:ArrayOfDigitusDeviceDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDigitusDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controllerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodeSerialNumber" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDigitusDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetAllDigitusDevicesResult" nillable="true" type="q69:ArrayOfDigitusDeviceDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusTimeBands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusTimeBandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusTimeBandsResult" nillable="true" type="q70:ArrayOfDigitusTimebandDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAccessScheduleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAccessScheduleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusAccessScheduleListResult" nillable="true" type="q71:ArrayOfDigitusDeviceScheduleDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAccessSchedulesOnly">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitusAccessSchedulesOnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetDigitusAccessSchedulesOnlyResult" nillable="true" type="q72:ArrayOfDigitusDeviceScheduleDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDigitusEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDigitusEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetLatestDigitusEventsResult" nillable="true" type="q73:ArrayOfDigitusEventDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDigitusAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDigitusAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="GetLatestDigitusAlarmsResult" nillable="true" type="q74:ArrayOfDigitusAlarmDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeDigitusAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeDigitusAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="AcknowledgeDigitusAlarmResult" nillable="true" type="q75:DigitusAlarmDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDigitusConnectionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="dataObject" nillable="true" type="q76:DigitusConnectionInfoDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDigitusConnectionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDigitusConnectionInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDigitusConnectionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDigitusConnectionInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFaceEnrollment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usersDataObjectId" type="xs:int" />
        <xs:element minOccurs="0" name="selectedEnrollmentTypeInd" type="xs:int" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Entertech.BiometricService.Dto" minOccurs="0" name="token" nillable="true" type="q77:SecurityTokenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFaceEnrollmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="digitusDeviceDataObject" nillable="true" type="q78:DigitusDeviceDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusEnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="digitusEnlineDataObject" nillable="true" type="q79:DigitusEnlineDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusEnlineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusController">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="digitusControllerDataObject" nillable="true" type="q80:DigitusControllerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusControllerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusControllerNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="digitusControllerNodeDataObject" nillable="true" type="q81:DigitusControllerNodeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusControllerNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusTimeband">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="dataObject" nillable="true" type="q82:DigitusTimebandDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusTimebandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusDeviceScheduleGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="dataObject" nillable="true" type="q83:DigitusDeviceScheduleDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDigitusDeviceScheduleGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BioConnect.DataObjects" minOccurs="0" name="properties" nillable="true" type="q84:ArrayOfPropertyDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserPropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>